@tailwind base;
@tailwind components;
@tailwind utilities;


.checkout-page {
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .cart-summary, .payment-form {
    flex: 1;
    margin-right: 20px;
  }
  
  h2 {
    color: #c45500;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .cart-item-info {
    flex-grow: 1;
  }
  
  .cart-total {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .payment-form {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .payment-form label {
    font-weight: bold;
  }
  
  .payment-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .payment-form button {
    background-color: #f0c14b;
    border-color: #a88734;
    color: #111;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .payment-form button:hover {
    background-color: #e7b933;
  }
  
  .btn-danger {
    background-color: #c45500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn-danger:hover {
    background-color: #d57140;
  }
  